*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial;
}
body{
    border: 5px solid rgb(0, 0, 0);
}

.headerSection{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.center ul li{
    list-style: none;
    display: inline-flex;
    margin: 0px 5px;
}   
.title{
    font-size: 1rem;
} 

.left{
    flex: 4;
    /* border: 1px solid black; */
}
.center{
    flex: 4;
    /* border: 1px solid black; */
}
.search{
    flex: 2;
    /* border: 1px solid black; */
}
.right{
    flex: 4;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}