*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial;
}


.headerSection{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(31, 4, 4);
    color: antiquewhite;
}

.center ul li{
    list-style: none;
    display: inline-flex;
    margin: 0px 5px;
}   
.title{
    font-size: 1rem;
} 

.left{
    flex: 2;
    /* border: 1px solid black; */
}
.center{
    flex: 4;
    /* border: 1px solid black; */
}
.search{
    flex: 2;
    
    /* border: 1px solid black; */
   
}
.search input{
    padding: 10px;
    width: 20rem;
    border-radius: 5px;
    margin-left: -150px;
}
.right{
    flex: 3;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.bannerBox img{
    width: 100%;
}
.bannerBox{
    margin: 10px 0px;
}   
.menImages{
    display: flex;
    gap: 10px;
} 
.menImages img{
    width: 205px;
    height: 220px;
}
.womanImages{
    display: flex;
    gap: 10px;
}
.womanImages img{
    width: 205px;
    height: 220px;
}